<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.datasource.hotel.HotelIdMapper">
	<resultMap id="hotelid" type="example.model.hotel.HotelId">
		<id property="hotelid" column="hotelid"/>
		<result property="city" column="city"/>
		<result property="country" column="country"/>
		<result property="hotelname" column="hotelname"/>
		<result property="state" column="state"/>
	</resultMap>
	<!-- 这里namespace必须是HotelMapper接口的路径，不然要运行的时候要报错 “is not known to the MapperRegistry” -->
	<insert id="insertHotelId" parameterType="HotelId">
		insert into jltour_hotel_id(hotelid,city,country,hotelname,state) values(#{hotelid},#{city},#{country},#{hotelname},#{state})
		<!-- 这里sql结尾不能加分号，否则报“ORA-00911”的错误 -->
	</insert>
	<update id="update" parameterType="example.model.hotel.HotelId">
		update jltour_hotel_id set hotelid=#{hotelid},city=#{city},country=#{country},hotelname=#{hotelname},state=#{state}
		where hotelid=#{hotelid}

	</update>
	<!-- 这里的id必须和HotelMapper接口中的接口方法名相同，不然运行的时候也要报错 -->
	<select id="getHotelId" resultType="example.model.hotel.HotelId" parameterType="java.lang.String">
		select * from jltour_hotel_id where hotelid=#{hotelid}
	</select>
	<select id="findHotelIds" resultMap="hotelid" >
		select * from jltour_hotel_id
	</select>

</mapper>