<?xml version="1.0" encoding="UTF-8"?>   
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">   
    
<configuration>   
    <settings>   
        <!-- changes from the defaults for testing -->   
        <setting name="cacheEnabled" value="false" />   
        <setting name="useGeneratedKeys" value="true" />   
        <setting name="defaultExecutorType" value="REUSE" />   
    </settings>   
    <typeAliases>   
       <typeAlias alias="HotelId" type="example.model.hotel.HotelIdResult"/>
    </typeAliases>   
    <environments default="development">   
       <environment id="development">   
           <transactionManager type="jdbc"/>   
           <dataSource type="POOLED">   
              <property name="driver" value="com.mysql.jdbc.Driver"/>   
              <property name="url" value="jdbc:mysql://192.168.60.62:3306/liuwan_biz"/>
              <property name="username" value="biz62"/>
              <property name="password" value="CSr5afansGZ8z"/>
           </dataSource>   
       </environment>   
    </environments>
    <mappers>
        <mapper resource="mappers/HotelIdMapper.xml" />
        <mapper resource="mappers/HotelMapper.xml" />
        <mapper resource="mappers/HotelRoomMapper.xml" />
        <mapper resource="mappers/JltourCityMapper.xml" />
    </mappers>
</configuration>  

 